[Desktop Entry]
Name=TrackMania VR
Exec=env WINEPREFIX="/data/user/0/com.winlator.cmod/files/imagefs/home/xuser/.wine/dosdevices/z:/home/xuser/.wine" wine C:\\\\TMFOXR\\\\TMFOXR-Setup.exe 
Type=Application
StartupNotify=true
Path=/data/user/0/com.winlator.cmod/files/imagefs/home/xuser/.wine/dosdevices/c:/TMFOXR
StartupWMClass=tmforever.exe

[Extra Data]
screenSize=3456x1728
execArgs=
box64Version=0.4.2
graphicsDriver=wrapper
graphicsDriverConfig=version=Turnip_Adreno_Driver_T26_(@Mr_Purple_666);blacklistedExtensions=;maxDeviceMemory=0;adrenotoolsTurnip=1;frameSync=Never
dxwrapper=dxvk
audioDriver=pulseaudio
emulator=box64
box64Preset=PERFORMANCE
startupSelection=1
cpuList=0,1,2,3,4,5
